.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    color: #555;
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-weight: 300;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
    
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
h1{
    margin-top: 0px;
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.hero-text-box{
    display: inline-block;
    position: absolute;
    width: 1140px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s,color 0.2s;
}

.btn-full:link,
.btn-full:visited{


color:#ffffff;
background-color: #e67e22;

    border : 1px solid #e67e22 ;
    margin-right: 25px;
}

.btn-ghost:link,
.btn-ghost:visited{
border: 1px solid #e67e22;
color: #e67e22;
cursor: pointer;
}

.btn:hover
.btn:active{
background-color: #cf5d17;
}

.btn-ghost:hover,
.btn-ghost:active{
background-color: #e67e22;
color: #ffffff;
}

.btn-full:hover,
.btn-full:visited{
    border: 1px solid #cf5d17;
  
}

.logo{
    height:100px;
    width: auto;
    margin-top: 20px;
    
    float: left;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}


.main-nav li a:link,
.main-nav li a:visited{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border: 2px solid transparent;
    padding: 8px 0px;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}

section{
    padding: 80px 0;

}

h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after{
  
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;

}



h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15px;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.meals-showcase{
    list-style: none;
    width: 100%;
    height: auto;
    margin-left: -40px;
}


.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
    
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    opacity: 0.7;
    transition: transform 0.5s,opacity 0.5s;
}

.summa{

    margin-right: 100px;
}

.meal-photo img:hover{
    transform: scale(1.05);
    opacity: 1;
}

.clearfix {zoom:1}
.clearfix::after{
    content: '-';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;

}
.section-meals{
    padding: 0;
}

.works-step{
    margin-bottom: 50px;
}
.steps-box:first-child{
    text-align: center;
    padding-right: 3%;
    margin-top: 30px;
}

.app-screen{
    width: 40%;
    margin-left: 25%;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.works-step div{
    color: white;
    border: 4px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    background-color: #e67e22;
    height: 55px;
    text-align: center;
    width: 55px;
    padding: 5px;
    /* float: left; */
    font-size :100%;
    margin-right: 25px;
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
    margin-top: 20px;
}

.works-step:last-of-type{
    margin-bottom: 80px;
}

.section-steps{
    background-color:#f4f4f4 ;
}

.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature{
    margin-bottom: 5px;

}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 20%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
    text-decoration: none;
}

a:link,
a:visited{
    color: #e67e22;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
}


a:hover,
a:active{
    color: #e67e22;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;

}

.btn-app:link,
.btn-app:visited{
border:0;
}